VITE_AUTH_API_URL=http://localhost:3001/api
VITE_PATIENTS_API_URL=http://localhost:3002/api
VITE_PERSONNEL_API_URL=http://localhost:3003/api
VITE_CONSULTATIONS_API_URL=http://localhost:3004/api
VITE_STATS_API_URL=http://localhost:3005/api
VITE_HOPITAUX_API_URL=http://localhost:3006/api
